.about {
  &__container {
    padding: 0 0 30px 250px;
    background-image: url("/img/about-year.webp");
    background-repeat: no-repeat;
    background-size: 150px 320px;

    @media (min-resolution: 2dppx) {
      background-image: url("/img/about-year@2x.webp");
    }

    @include vp-1023 {
      margin: 0;
      padding-left: 225px;
      background-position: 46px 4px;
    }

    @include vp-767 {
      background-image: none;
    }
  }

  &__container h2 {
    font-family: "Roboto Condensed";
    font-size: 36px;
    line-height: 1.4em;
    font-weight: 400;
    margin: 0 0 12px;

    @include vp-767 {
      font-size: 28px;
      line-height: 1.4em;
    }
  }

  &__container p {
    line-height: 22px;
    margin: 0;

    &:nth-child(2) {
      display: inline;
    }

    @include vp-1023 {
      line-height: 1.35em;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 1.32em;
    }
  }

  &__container .button {
    margin-top: 20px;

    @include vp-767 {
      margin-top: 14px;
    }
  }
}

.about .about__container {
  @media (min-resolution: 2dppx) and (max-width: 767px) {
    background-image: none;
  }
}
