.feedback {
  padding-top: 165px;
  padding-bottom: 250px;
  position: relative;
  background: url("../img/airplane.webp") 350px 246px/510px 285px no-repeat, linear-gradient(139deg, #026593, #026593 33.5%, #00b3ff 33%, #00b3ff 100%) no-repeat;
  background-size: 510px 285px, cover;

  @media (min-resolution: $retina-dppx) {
    background: url("../img/airplane@2x.webp") 350px 246px/510px 285px no-repeat, linear-gradient(139deg, #026593, #026593 33.5%, #00b3ff 33%, #00b3ff 100%) no-repeat;
  }

  @include vp-1023 {
    padding-top: 45px;
    padding-bottom: 125px;
    background-image: none;
    background-color: #00b2ff;
  }

  @include vp-767 {
    padding-bottom: 90px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: min-content;
    margin: 0 19vw 0 auto;

    @include vp-1023 {
      margin: 0 auto;
    }
  }

  &__header {
    font-family: "Roboto Condensed";
    font-weight: 400;
    font-size: 36px;
    line-height: 51px;
    margin: 0 0 11px;
    color: #ffffff;

    @include vp-1023 {
      margin: 0 0 5px;
    }

    @include vp-767 {
      font-size: 30px;
      line-height: 1.4em;
      margin: 0 0 7px;
    }
  }

  &__description {
    margin: 0 0 35px 5px;
    color: #ffffff;

    @include vp-1023 {
      margin: 0 0 25px;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 1.34em;
      margin: 0 0 35px;
    }
  }

  &__form-wrapper {
    @include vp-767 {
      width: 100%;
    }
  }

  &__checkbox {
    margin-left: 0;

    @include vp-767 {
      margin: 5px 0 0 5px;
    }
  }

  & form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 20px;
    width: 580px;

    @include vp-1023 {
      width: 100%;
    }

    @include vp-767 {
      grid-template-columns: 1fr;
    }
  }

  & label {
    width: 100%;
  }

  & &__textfield {
    grid-column: 1/3;

    @include vp-767 {
      grid-column: 1/2;
    }
  }

  & input {
    color: #ffffff;
    width: 100%;
    display: block;
    border: none;
    padding: 15px;
    background: rgba(4, 20, 39, 0.15);
    border-radius: 3px;

    &::placeholder {
      color: #ffffff;
    }
  }

  & textarea {
    color: #ffffff;
    width: 100%;
    background: rgba(4, 20, 39, 0.15);
    border: none;
    border-radius: 3px;
    padding: 25px 15px;

    &::placeholder {
      color: #ffffff;
    }

    @include vp-1023 {
      padding: 33px 15px 13px;
    }

    @include vp-767 {
      padding: 27px 15px 45px;
    }
  }

  & button {
    font-family: "Roboto Condensed";
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding: 15px 25px;
    color: #ffffff;
    background-color: #041427;
    border: none;
    border-radius: 3px;
    cursor: pointer;

    @include vp-1023 {
      width: 83%;
      margin-top: 6px;
    }

    @include vp-767 {
      padding: 15px 25px 11px;
      width: 100%;
    }
  }
}
