.main-footer {
  background-color: #041827;
  color: #f2f5f7;
  padding: 50px 0 55px;

  @include vp-1023 {
    padding: 50px 0 65px;
  }

  @include vp-767 {
    padding: 30px 0;
  }

  &__container {
    display: flex;
    column-gap: 30px;

    @include vp-1023 {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    @include vp-767 {
      grid-template-columns: 1fr;
    }
  }

  &__element {
    position: relative;

    &::after {
      @include vp-767 {
        content: "";
        display: block;
        width: calc(100% + 52px);
        height: 1px;
        background-color: rgba(248, 253, 255, 0.7);
        position: absolute;
        left: -26px;
        bottom: 0;
      }
    }

    &:first-child {
      @include vp-1023 {
        width: 100%;
        display: flex;
        align-items: start;
        justify-content: space-between;
      }

      @include vp-767 {
        flex-direction: column;
        align-items: center;
        padding-bottom: 18px;
      }
    }


    &--info {
      width: 345px;

      @include vp-1023 {
        grid-area: 1/1/-1/-1;
      }

      @include vp-767 {
        margin: 0 auto;
      }
    }

    &--categories {
      @include vp-1023 {
        padding: 20px 0;
      }
    }

    &--categories ul {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      height: 130px;
      width: 470px;

      @include vp-1023 {
        flex-wrap: nowrap;
        width: auto;
        height: auto;
      }
    }

    &--categories li {
      max-width: 220px;
      line-height: 1.3em;
    }

    &--location {
      @include vp-1023 {
        padding: 20px 0;
      }
    }

    &--location address {
      font-style: normal;
      color: rgba(255, 255, 255, 0.7);

      @include vp-767 {
        font-size: 14px;
        line-height: 1.35em;
      }
    }
  }

  &__element h2 {
    font-family: "Roboto Condensed";
    font-weight: 400;
    font-size: 15px;
    line-height: 1.1em;
    text-transform: uppercase;
    margin: 6px 0 0;
    letter-spacing: 0.05em;

    @include vp-767 {
      margin: 0;
      line-height: 1.4em;
    }
  }

  &__element ul {
    padding: 0;
    list-style: none;
    margin: 24px 0 0;

    @include vp-767 {
      margin: 14px 0 0;
    }
  }

  &__element li {
    &:not(:last-child) {
      margin-bottom: 8px;
    }

    &:nth-child(4n) {
      margin-bottom: 0;

      @include vp-1023 {
        margin-bottom: 10px;
      }
    }
  }

  &__element &__socials {
    margin-left: 10px;

    @include vp-1023 {
      margin: 4px -4px 0 0;
    }
  }

  &__logo {
    display: flex;
    color: #f2f5f7;
    font-family: "Roboto Condensed";
    font-weight: 700;
    font-size: 25px;
    line-height: 1.2em;
    margin-bottom: 30px;

    @include vp-1023 {
      margin-bottom: 10px;
    }

    @include vp-767 {
      margin-right: 15px;
    }
  }

  &__logo p {
    @include vp-767 {
      font-size: 25px;
      line-height: 1.2em;
    }
  }

  &__logo span {
    @include vp-767 {
      font-size: 12px;
      line-height: 1.1em;
    }
  }

  &__link {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);

    &--phone {
      line-height: 1.5em;

      @include vp-767 {
        font-size: 14px;
        line-height: 25px;
      }
    }
  }

  &__title-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__element-toggle {
    display: none;

    @include vp-767 {
      display: block;
      width: 15px;
      height: 15px;
      border: none;
      position: relative;
      background-color: transparent;

      &::before,
      &::after {
        content: "";
        display: block;
        height: 1px;
        width: 100%;
        position: absolute;
        background-color: #f8fdff;
        left: 0;
      }

      &::before {
        transform: rotate(0deg);
        top: 50%;
        transition: 0.3s all;
      }

      &::after {
        top: 50%;
      }
    }
  }

  &__element-toggle--closed {
    @include vp-767 {
      &::before {
        transform: rotate(90deg);
        transition: 0.3s all;
      }
    }
  }

  &__list--hidden {
    @include vp-767 {
      position: absolute;
      transform: scale(0);
    }
  }
}
