.main-header {
  background: linear-gradient(180deg, rgba(25, 32, 36, 0.7) 71.72%, rgba(25, 32, 36, 0) 100%), url("/img/background-main-block.webp") no-repeat;
  background-size: cover;
  color: #f2f5f7;
  height: auto;

  @include vp-1023 {
    background-position: -123px 0;
  }

  @include vp-767 {
    background-position: 26% 0;
  }

  &__navigation {
    position: fixed;
  }
}
