.main-header {
  color: #f2f5f7;
  height: auto;
  position: sticky;
  top: 0;
  z-index: 2;

  @include vp-1023 {
    background-position: -123px 0;
    position: static;
  }

  @include vp-767 {
    background-position: 26% 0;
  }

  &__navigation {
    @include vp-1023 {
      position: static;
    }
  }
}
