.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  background-color: rgba($color-default-black, 0.8);
  transform: scale(1.2);
  visibility: hidden;
  opacity: 0;

  transition: opacity $trans-modal, transform $trans-modal, visibility $trans-modal;

  pointer-events: none;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__wrapper {
    position: relative;

    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    padding: 146px 56px 10px 40px;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    cursor: pointer;
  }

  &__content {
    position: relative;

    width: 500px;
    padding: 40px 40px 45px;

    background-color: #00b3ff;

    @include vp-767 {
      width: 100%;
      padding: 20px;
    }
  }

  &__title {
    font-family: "Roboto Condensed";
    font-weight: 400;
    font-size: 30px;
    color: #ffffff;
    margin: 0 0 8px;
  }

  &__description {
    color: #ffffff;
    font-size: 16px;
    line-height: 1.4em;
    margin: 0 0 37px;
    width: 90%;
  }

  &--responsive {
    .modal__content {
      width: 100%;
    }
  }

  &--fit-content {
    .modal__content {
      width: auto;
    }
  }

  &--no-scale {
    transform: none;
  }

  &--preload {
    transition: none;
  }

  &.is-active {
    transform: scale(1);
    visibility: visible;
    opacity: 1;

    pointer-events: auto;
  }


  & form {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
  }

  & input,
  & textarea {
    width: 100%;
    border: none;
    background: rgba(4, 20, 39, 0.15);
    border-radius: 3px;
    padding: 15px 15px 17px;
    color: #ffffff;

    &:hover {
      box-shadow: inset 0 0 0 2px #f8fdff;
    }

    &::placeholder {
      color: #ffffff;
    }

    &:focus {
      outline: 2px solid #4169e1;
    }
  }

  & textarea {
    padding: 25px 15px 20px;
  }

  & button {
    font-family: "Roboto Condensed";
    font-weight: 700;
    background-color: #041427;
    color: #ffffff;
    border: none;
    padding: 15px 15px 12px;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    cursor: pointer;

    &:hover {
      background-color: #f8fdff;
      color: #041427;
    }
  }

  & &__close-btn {
    position: absolute;
    top: 15px;
    right: 14px;
    z-index: 1;

    width: 40px;
    height: 40px;
    padding: 0;

    background: transparent;
    border: none;
    cursor: pointer;

    &:hover {
      &::before,
      &::after {
        background-color: #041427;
      }
    }

    &::before,
    &::after {
      content: "";
      display: block;
      width: 28px;
      height: 1px;
      border-radius: 1px;
      background-color: #ffffff;
      position: absolute;
      top: calc(50% - 1px);
      left: calc(50% - 14px);
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}
