.products {
  background-color: #041827;

  &__container {
    padding-top: 65px;
    padding-bottom: 140px;
    margin: 0 auto;
    width: 63.56vw;

    @include vp-1023 {
      padding-top: 55px;
      padding-bottom: 75px;
    }

    @include vp-767 {
      padding-top: 47px;
      padding-bottom: 86px;
    }
  }

  &__header {
    font-family: "Roboto Condensed";
    font-weight: 400;
    color: #ffffff;
    margin: 0;
    font-size: 0;

    @include vp-767 {
      font-size: 28px;
      line-height: 1.4em;
    }
  }

  &__description {
    font-size: 36px;
    line-height: 1.4em;
    margin: 0 0 54px;
    color: #f2f5f7;
    font-family: "Roboto Condensed";

    @include vp-1023 {
      margin: 0 0 40px;
    }

    @include vp-767 {
      font-size: 28px;
      line-height: 1.4em;
      margin: 0 0 28px;
    }
  }

  &__spare-mobile {
    @include vp-767 {
      display: none;
    }
  }

  &__list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4.45vw;
    padding: 0;
    margin: 0;

    @include vp-1023 {
      grid-template-columns: 1fr;
      row-gap: 30px;
    }
  }

  &__item {
    background-repeat: no-repeat;
    background-size: cover;
    height: 33.9vw;

    &--first {
      background-image: url("../img/card-product-first.webp");
    }

    &--second {
      background-image: url("../img/card-product-second.webp");
    }

    &--third {
      background-image: url("../img/card-product-third.webp");
    }

    @include vp-1023 {
      &--first,
      &--second,
      &--third {
        background-image: url("../img/background-cards.webp");
        height: 250px;
        background-size: 223%;
      }

      &--first {
        background-position: bottom 14% left 30%;
      }

      &--second {
        background-position: bottom 46% right 24%;
      }

      &--third {
        background-position: bottom 40% left 18%;
      }
    }

    @include vp-767 {
      &--first,
      &--second,
      &--third {
        background-size: 575%;
      }

      &--first {
        background-position: bottom 48% left 31%;
      }

      &--second {
        background-position: bottom 17% right 70%;
      }

      &--third {
        background-position: bottom 35% right 28%;
      }
    }
  }

  &__item-header {
    font-family: "Roboto Condensed";
    font-weight: 400;
    font-size: 1.04vw;
    line-height: 1.5em;
    margin: 0;
    color: #ffffff;
    width: 71%;

    &::before,
    &::after {
      z-index: 1;
      content: "";
      display: block;
      background-color: #ffffff;
      width: 6px;
      height: 1px;
      position: absolute;
      right: 25px;
    }

    &::before {
      bottom: 30px;
      transform: rotate(45deg);
      border-radius: 0 1px 0 0;
    }

    &::after {
      bottom: 26px;
      transform: rotate(-45deg);
      border-radius: 0 0 1px 0;
    }

    @include vp-1023 {
      width: 25%;
      font-size: 20px;
    }

    @include vp-767 {
      font-size: 18px;
      line-height: 1.6em;
      width: 64%;

      &::before,
      &::after {
        right: 16px;
        width: 5px;
        height: 1px;
      }

      &::before {
        bottom: 22px;
      }

      &::after {
        bottom: 19px;
      }
    }
  }

  &__link {
    display: block;
    height: 100%;
    padding: 47px 40px;
    position: relative;
    transition: 0.3s all;

    &:hover {
      box-shadow: inset 0 0 10px 3px #f2f5f7;
      transition: 0.3s all;
    }

    @include vp-1023 {
      padding: 37px 45px;
    }

    &::after {
      content: "";
      display: block;
      width: 60px;
      height: 60px;
      border-radius: 3px 0 0 0;
      background-color: #00b2ff;
      position: absolute;
      bottom: 0;
      right: 1px;
    }

    @include vp-767 {
      padding: 28px 30px;

      &::after {
        width: 40px;
        height: 40px;
      }
    }
  }
}
