.container {
  max-width: 1920px;
  margin: 0 18%;

  @include vp-1023 {
    width: 100%;
    margin: 0;
    padding: 0 50px;
  }

  @include vp-767 {
    padding: 0 25px;
  }

  @include vp-319 {
    padding: 0 16px;
  }
}
